# shm dumps that i leave around
*.raw

# binaries
processor-go
processor-go.exe
# dlv debug
__debug_*
# old versions
#*-2024-03*
OLD VERSIONS/

# sqlite databases
*.db
*.sqlite
*.sqlite3

# basically the entirety of fpng/not needed
playground/*.c*
playground/*.h*
playground/*.o

# shh
assets/warioland3/
# compressed assets
assets/*.br
assets/*.gz
assets/vendor-js/*.br
assets/vendor-js/*.gz

# node_modules
node_modules
*.*tmp*

# swap, misc
*swp
.DS_Store
.fuse_hidden*

# local
*.log
assets-dev
