    <section id="accuracy-status" class="hide-iframe-mode">
        <h2>Accuracy Status/Known Flaws</h2>
        <p>Current goals are to perfectly reproduce Wii U Mii Maker/NNID renders, Mii Studio/Miitomo renders, and Switch icon renders.</p>
        <ul class="left-aligned-ul">
            <li>
            ❌ Body is not scaled uniformly using vertex groups/bone indices
            <ul>
                <li>This is why the body's hands and legs may look a little wonky and unnatural.</li>
                <li>(Dec. 28, 2024) Status update: As of writing this, I have made major strides in this, as I now have a sample reversed from the nn::mii::VariableIconBody class that does this.</li>
                <li>Meaning that now the process is: getting <a target="_blank" href="https://forum.pretendo.network/t/3d-web-full-blown-mii-maker-and-mii-unsecure-site-updates/7445/14?u=arian">that PoC I made</a> to work </li>
            </ul>
            </li>
            <!--
            <li>
            ⚠️ Need to find whole body camera views for Wii U Mii Maker and Miitomo/Mii Studio
            <ul>
                <li>For Wii U they are hiding in JpgPoseCam.bfres, which I can't read at the moment.
                <ul><li>... And they also move the camera closer/further depending on height (shorter = closer). Haven't found where this happens yet.</li></ul></li>
                <li>For Mii Studio/Miitomo this is TBD but I assume it's hiding in the game files too.</li>
                <li>I'm personally deferring this to when the above item is complete though...</li>
            </ul>
            -->
            <details>
                <summary>🚩 Missing a few parameters to be fully compatible with the Mii Studio API (read more...)</summary>
                <ul>
                    <li>Note: Camera rotation lighting is inaccurate, and both rotations have slightly different ways of combining.???
                    <ul>
                        <li>Our character rotation is pretty much as accurate in terms of lighting, but camera rotation isn't.</li>
                        <li>Legitimately not sure why that is. Camera rotation rotates the view matrix and character rotation moves the model matrix, so, don't know.</li>
                        <li>If you use multiple rotation axises, with our camera rotation it matches Mii Studio's character rotation, and combining axises with our character rotation matches Mii Studio's camera rotation...??????????? I can't wrap my head around all of this...</li>
                    </ul></li>
                    <!--
                    <li>instanceCount, instanceRotationMode</li>
                    <ul>
                        <li>Many ways to approach doing this efficiently.  glDrawElementsInstanced?</li>
                        <li>Was also considering making a variant (as another instanceRotationMode?) for the same render but multiple expressions.</li>
                        <li>I did attempt this at some point but couldn't wrap my head around getting it right.. I'll probably try it again soon.</li>
                    </ul>
                    -->
                    <li>splitMode, splitDepthOffset(??)
                    <ul>
                        <li>Feel like splitDepthOffset doesn't do anything? It maaaay have done something on cdn-mii 1.0.0 though...??</li>
                        <li>I've tried to implement splitMode a handful of times using glDepthRange but did not do anything at all...</li>
                        <li>Either using the shader or clipping the projection matrix's far plane may work but, there has to be a better way to do this...</li>
                        <li>...Not a huge priority now. Is it for you? Please <a href="#contact">contact me</a> and that'll put some pressure on me to add this once and for all.</li>
                    </ul></li>
                    <li>lightXDirection, lightYDirection, lightZDirection, lightDirectionMode(??)
                    <ul>
                        <li>I officially don't like the light direction parameters, I legitimately don't think anyone uses it right.</li>
                        <li>Both mii-js AND pf2m.com/tools/mii at some point used to initialize it to zero...</li>
                        <li>... while zero is not the default, so it just gives you a terrible result.</li>
                        <li>There's also lightDirectionMode, which cdn-mii 2.0.0/Mii Studio completely ignore. We don't know what its options do and, while setting it to "none" (the sites above were also doing this so eh where's the blame supposed to go) is SUPPOSED to not make the light directions apply, well, they do.</li>
                        <li class="small">Was light direction even a thing on cdn-mii 1.0.0...??? I feel like pf2m.com/tools/mii specifically said it only worked on 2.0.0.</li>
                        <li>The light direction parameter on cdn-mii/Mii Studio is also clearly not the real light direction uniform being passed to the shader, it would have more intense effects.</li>
                    </ul></li>
                    <li>If you find anything else I should implement from cdn-mii/Mii Studio (other than Miitomo clothing/headgear), <a href="#contact">ping me.</a></li>
                </ul>
            </details></li>
        </ul>

        <details id="planned">
            <summary>
            <h3 style="display: inline;">More Planned Items/Issues: <span class="small">click to expand</span></h3>
            </summary>
            <ul class="left-aligned-ul">

            <li>❔Poses from the Wii U Mii Maker are planned as soon as skeletal animations work.
                <ul>
                    <li>Every pose is just a single-frame animation from MiiAnim.bfres, same source as everything else.</li>
                    <li>I'm pretty sure the camera positions are in JpgPoseCam.bfres, but Switch Toolbox cannot open it, so... not sure what I'm going to do about that.</li>
                    <li>Either way, I'm continuing to delay and hold off on this until getting body scaling perfect. Sigh.</li>
                </ul>
            <details>
                <summary>❔Need to reverse the Tomodachi Life and Miitopia QR code formats. Miitomo codes are planned as soon as Kaerutomo properly implements them.</summary>

                <ul>
                    <li>To be clear, this is not referring to being able to merely scan their codes, but rather make use of the extra game-specific data within.</li>
                    <li> ... For example, applying the custom colors (hair color, etc.) within, displaying their voice or personality traits...
                        <ul><li>In the case of Miitomo, this means extracting the "nx_mii_core_data" Switch data that QR codes are supposed to give you, for the wider colors.</ul></li>
                    <li>I actually did find the AES key and was able to make an encoder/decoder for the extra data within these codes for all of those games, check it out: <a target="_blank" href="https://jsfiddle.net/arian_/ckya346z/8/">https://jsfiddle.net/arian_/ckya346z/8/</a></li>
                    <li>For Tomodachi Life and Miitopia, all of the data is within the code and just needs to be reversed. For Miitomo, it's more complicated, and sadly existing codes won't work, because:</li>
                    <li>It looks like the only thing Miitomo stores in the QR code is some sort of ID ("token_for_json_data") - it expects the server to store the extra data with this ID and will use it to retrieve that data back from the server.</li>
                    <li>Problem is, Kaerutomo does not store or retrieve this data for you. At all. And since it's not open source, nobody can add it except for them, and they aren't interested. 😐</li>
                    <li>(If you are a Kaeru dev reading this, <a href="#contact">PLEEEASEEEE get in touch!!!</a> 😭)</li>
                </ul>
            </details></li>

            <details>
                <summary>❔Replicating 3DS and Wii renders has been considered but isn't easy or a priority.</summary>
                <ul>
                    <li>This requires extracting the meshes (and textures? but those can be downscaled from the new ones) from CFL_Res.dat, but its header hasn't been reversed.</li>
                    <li>As of October 2024, the Kadokawa leak includes debug versions of niconico with DWARF information for CFL - Contains all of the structures needed to extract the resource. Cool, right?</li>
                    <li>I think it would be nice to have an extractor for CFL and RFL resources (since they are so similar), especially since <a target="_blank" href="https://wiki.tockdom.com/wiki/RFL_Res.dat_Editor">the one RFL_Res.dat editor everyone uses</a> both isn't open source and I have also heard that the creator lost the source code.</li>
                    <li>This is not something I have gotten around to doing, though if you <a href="#contact">contact me</a>, I would love to elaborate on all of this and give details.</li>

                    <li>Aside from that obstacle is shaders, neither of the Wii or 3DS use GLSL-compatible shaders. This can probably be worked around (or remade since it's very basic) but is still annoying and just one more reason not to do it.</li>
                </ul>
            </details></li>

            <li>❔Miitomo/Tomodachi Life clothing/headgear/wigs may be planned.
            <ul>
                <li>Don't expect any of these any time soon, especially clothing.</li>
                <li>Do keep in mind that these body models are different from the Wii U/Switch models and therefore the clothing may not work on those.</li>
            </ul>

            <details>
                <summary>❔Fully rendering Miis in the browser is a longterm goal of mine. I can't promise anything, but I am steadily working towards it.</summary>
                <ul>
                    <li>As of October 2024, the FFL-Testing master branch fully builds with Emscripten and works on WebGL 2.0, and I even have a Mii rendering sample in C and raylib that works on WebGL 1.0 (contact me if you want this)</li>
                    <li>So what else is left? For starters, the assets need a more efficient compression method instead of zlib. I'm thinking of using Draco for meshes, and then ASTC for textures. As of writing, neither are implemented yet.</li>
                    <li>An interface will need to be made to bridge the C exports of FFL to be callable from JS, and then make a shader callback implementation in JS using WebGL or three.js.</li>
                    <li>So I haven't gone that far with this, and have not yet connected FFL in WASM to JS. But...</li>
                    <li>As of October 2024, I have <a href="https://jsfiddle.net/arian_/8gvynrdu/7/">a little jsfiddle here</a> that will read a Mii exported to glTF from my site, and render it with the Wii U shader! Isn't that nice?</li>
                    <li>Now, once this is properly implemented and working, I can't even begin to think about the possibilities. At the minimum, this site could go serverless, and services using Miis may not even need to render and store icons on their side. Woo.</li>
                    <li>As usual, if you want to help or put pressure on me to work on this with more haste, <a href="#contact">ping me.</a></li>
                </ul>
            </details></li>

            <!--
            <li>❔I've thought about making a Mii Maker-like app with the FFL decomp, but... don't get your hopes up too far about this.</li>
            <ul>
                <li>However, if you like the sound of this...</li>
                <li>... and you're either working on something like this right now and it just needs Mii heads, OR you'd want to design the UI for this and let me add the rendering logic, <a href="#contact">do get in touch!</a></li>
                <li class="small">(This is assuming, yaknow. it's not a Scratch or Roblox game or something)</li>
            </ul>
            -->

            </ul>

            <h3 style="display: inline;">Unplanned:</h3>
            <ul class="left-aligned-ul">
            <li>Custom hairstyles or frankly custom anything</li>
            <li>Miitopia makeup, or custom expressions (sorry)
                <ul><li>Miitomo expressions are the only exception, since they're built into AFL (its version of FFL). <a target="_blank" href="/miis/image.png?data=AwBgMIJUICvpzY4vnWYVrXy7ikd01AAAWR1KAGEAcwBtAGkAbgBlAAAAAAAAABw3EhB7ASFuQxwNZMcYAAgegg0AMEGzW4JtAAAAAAAAAAAAAAAAAAAAAAAAAAAAAML0&amp;expression=33">See?</a></li></ul>
            </li>
            <li>BoTW/TOTK models, or "semi-Miis"</li>
            <li>Xbox Miis, Apple Miis, Samsung Miis, any other stupid bootleg Miis
            <ul>
                <li>Never ask me for these 🤬</li>
            </ul></li>
            </ul>
        </details>

    </section>
