<!doctype html>
<html lang="{{T "html_lang" }}">

<head>
    <title>{{T "page_title" }}</title>
    <link rel="stylesheet" href="assets/style.css">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <!-- I THINK THIS DESCRIPTION SHOULD BE THE SAME AS ONE ON THE PAGE?
    <meta name="description" content="This site renders Mii images
    in Wii U style, with many expressions to choose from.
    It accepts Mii data from your old NNID (Wii U/3DS account),
    a Mii QR Code, or even your Pretendo Network ID.">
    -->
    <meta name="keywords" content="
    Mii, Mii Renderer, Mii QR, Mii Image,
    Mii Data, Mii Base64,
    3DS, Wii U,
    Check Mii Out Channel, Mii Grabber,
    Arian Kordi, PF2M, Closedverse, Arian Closedverse, Pretendo,
    Miiverse, Nintendo Network ID">

    <!-- THESE KEYWORDS ARE FOR FUTURE USE, TODO EXPAND UPON THEM LATER
    <meta name="keywords" content="
    Mii, Mii Renderer, Wii Character, Mii Character, Mii QR, Mii Image,
    Mii Data, Mii Base64, FFSD File, CFSD File, FFLStoreData, CFLStoreData,
    Wii RFL, 3DS CFL, Wii U FFL, Miitomo AFL, Switch nn::mii,
    Wii, 3DS, Switch, Wii U, Miitomo, Tomodachi Life, Miitopia,
    Mii Maker, Mii Channel, Mii Creator, Mii Studio, Mii Library,
    Check Mii Out Channel, Mii Grabber, Miiverse Clone, Miiverse Revival,
    Arian Kordi, PF2M, Closedverse, Arian Closedverse, Pretendo,
    WiiConnect24, Miiverse, Nintendo Network, NNID,
    Nintendo Account ID, 3DS Account, Wii U Account">
    -->

    <meta property="og:locale" content="en_US">
    <!-- NOTE ALL SUPPORTED LOCALES GO HERE -->
    <meta property="og:locale:alternate" content="en_GB">
    <meta property="og:locale:alternate" content="es_419">
    <meta property="og:locale:alternate" content="ja_JP">
    <meta property="og:locale:alternate" content="fr_FR">
    <meta property="og:locale:alternate" content="de_DE">
    <meta property="og:locale:alternate" content="pt_BR">
    <meta property="og:url" content="https://mii-unsecure.ariankordi.net/">
    <meta property="og:image" content="/assets/page-screenshot-2024-07-10-dark.png">
    <!-- TODO BELOW IS TO BE LOCALIZED -->
    <meta property="og:title" content="{{T "page_title" }}"/>
    <meta property="og:description" content="That's right, we will render your Miis with our bare f*cking hands.
This isn't just any 🤓 'Mii Renderer' 🤓, that actually just uses the sh*t*ss Mii Studio API. NO. This runs on OUR MACHINES. On MY COMPUTER. On MY very own Microsoft Corporation Surface Laptop 4, Intel® Core™ i7-1185G7, 16 GB RAM, 256 GB SSD, Matte Black">
    <meta name="description" content="That's right, we will render your Miis with our bare f*cking hands.
    This isn't just any 🤓 'Mii Renderer' 🤓, that actually just uses the sh*t*ss Mii Studio API. NO. This runs on OUR MACHINES. On MY COMPUTER. On MY very own Microsoft Corporation Surface Laptop 4, Intel® Core™ i7-1185G7, 16 GB RAM, 256 GB SSD, Matte Black">
    <link rel="alternate" hreflang="x-default" href="/">
    <link rel="alternate" hreflang="en-US" href="/?locale.lang=en-US">
    <link rel="alternate" hreflang="en-GB" href="/?locale.lang=en-GB">
    <link rel="alternate" hreflang="es-419" href="/?locale.lang=es-419">
    <link rel="alternate" hreflang="ja-JP" href="/?locale.lang=ja-jp">
    <link rel="alternate" hreflang="fr-FR" href="/?locale.lang=fr-fr">
    <link rel="alternate" hreflang="de-DE" href="/?locale.lang=de-DE">
    <link rel="alternate" hreflang="pt-BR" href="/?locale.lang=pt-BR">

</head>

<body>
    <h1>{{T "heading_main" }}</h1>
    <!-- test if current language is not english -->
    {{if and (ne (T "html_lang") "en-US") (ne (T "html_lang") "en-GB")}}
    <h2 class="subtitle">Mii Renderer</h2>
    {{end}}
    <form action="/miis/image.png" method="GET">
        <input type="hidden" id="errorSessionID" name="errorSessionID">
        <input type="hidden" id="errorRequestID" name="errorRequestID">


        <div style="color: plum">{{T "above_input_type_choose_text" }}</div>
        <label for="input_type">{{T "label_input_type" }}</label>
        <!-- only useful for backend when you are not using js bc js will disable the inputs -->
        <select id="input_type"><!-- name="input_type">-->
            <option value="nnid" selected>{{T "option_nnid" }}🕰</option>
            <!-- nnid above is default -->
            <option value="pnid">{{T "option_pnid" }}</option>
            <option value="data">{{T "option_data" }}</option>
            <option value="file">{{T "option_file" }}</option>
            <option value="qrcode">{{T "option_qrcode" }}</option>
        </select>
        <br>
        <div id="file-group">
            <input type="file" name="file" id="file" required>
            <br><label class="small" for="file">{{T "file_input_label" }}</label>
            <input type="hidden" name="data" id="file-data" required>
            <div id="file-loaded" style="font-weight: bold; color: green; display: none;">{{T "qr_status_loaded" }}<span></span></div>
        </div>
        <div id="qrcode-group">
            <button id="start-camera" type="button">{{T "button_open_camera" }}</button>
            <button id="stop-camera" type="button" style="display: none;">{{T "button_close_camera" }}</button>
            <br>
            <div id="qr-camera-group" style="display: none">
                <label for="cam-list">{{T "label_select_camera" }}</label>
                <select id="cam-list">
                    <option value="environment" selected>{{T "option_back_camera" }}</option>
                    <option value="user">{{T "option_front_camera" }}</option>
                </select>
                <video id="qr-video" style="max-width: 100%"></video>
            </div>
            {{T "file_photo_selection_prompt" }}
            <input type="file" id="qr-file" accept="image/*">

            <!-- QR code statuses -->
            <div id="qr-status-ready" style="font-weight: bold;">{{T "status_ready" }}</div>
            <div id="qr-status-scanning" style="font-weight: bold; color: blue; display: none;">{{T "qr_status_scanning" }}</div>
            <div id="qr-status-waiting" style="font-weight: bold; color: orange; display: none;">{{T "qr_status_waiting" }}</div>
            <div id="qr-status-loaded" style="font-weight: bold; color: green; display: none;">{{T "qr_status_loaded" }}<span></span></div>
            <div id="qr-status-no-qr" style="font-weight: bold; color: red; display: none;">{{T "qr_status_no_qr" }}</div>
            <div id="qr-status-error" style="font-weight: bold; color: red; display: none;">{{T "qr_status_error" }}<span></span></div>
            <div id="qr-status-no-mii" style="font-weight: bold; color: red; display: none;">{{T "qr_status_no_mii" }}<span class="small"></span></div>
            <div id="qr-status-no-camera" style="font-weight: bold; color: red; display: none;">{{T "qr_status_no_camera" }}</div>


            <input type="hidden" name="data" id="qrcode">
        </div>
        <div id="nnid-group">
            <!-- you may want to add labels to differentiate in the case of no js -->
            <input id="nnid" name="nnid" class="long-field" type="text" placeholder="{{T "nnid_placeholder" }}" value="JasmineChlora"
                maxlength="16" pattern="^[0-9a-zA-Z\-_.]+$" required
                data-action="/mii_data/">
            <!-- tbd you should add or check minlength
                   it was temporarily removed bc its annoying to see
                  red before you are finished typing -->
            <br>
            <!-- TODO THIS SHOULD PROBABLY SEND A RANDOM NUMBER? with JS -->
            <!--<input type="checkbox" id="force_refresh" name="force_refresh" value="1">
            <label for="force_refresh">{{T "force_refresh_label" }}</label>
            <br><span class="small">{{T "force_refresh_description" }}</span>
            -->
            <button id="random-nnid" type="button" data-action="/mii_data_random">{{T "button_random_nnid" }}</button>
            <div id="nnid-loaded" style="font-weight: bold; color: green; display: none;">{{T "qr_status_loaded" }}<span></span></div>
            <div id="nnid-last-modified" style="font-weight: bold; display: none;">{{T "last_modified" }}<span></span></div>
            <h3 style="margin: 0;">🕰 {{T "miis_from_nnids_prior_notice" }}</h3>
            <!--<details>
              <summary style="font-weight: bold;">
                This will only show Miis from NNIDs
                as they were prior to April 8th, 2024.
                Read more here.
              </summary>
              <p>As of 2024-05-09 (possibly earlier), Nintendo shut down the API endpoint
              that this site and everything else, including Miiverse clone, used to
              look up Mii images from NNIDs.</p>
              <p>Personally, I had kinda sorta somewhat prepared for this. On April 8th,
              the day of the Nintendo Network game server shutdown, I went ahead
              and archived every Mii from the Friend Presence server.</p>
              <p>Do you know how the Wii U Friends List shows Miis from any NNID,
              regardless of whether they were made on a 3DS or if it was even deleted?
              It's not getting it through /v1/api/miis, because that will not
              show you deleted NNIDs.</p>
            </details>-->
        </div>
        <div id="pnid-group">
            <!-- you may want to add labels to differentiate in the case of no js -->
            <input id="pnid" name="nnid" class="long-field" type="text"
                placeholder="{{T "input_pnid_placeholder" }}"
                maxlength="16" pattern="^[0-9a-zA-Z\-_.]+$" required>
            <!-- DIFFERENTIATES between NNID and PNID request -->
            <!-- TODO: disabled for now because this interferes when js is not there to disable it by default
            but perhaps all other fields should be disabled by default -->
            <input name="api_id" type="hidden" value="1" disabled>
            <!-- tbd you should add or check minlength
                   it was temporarily removed bc its annoying to see
                  red before you are finished typing -->
            <br>
            <!-- TODO THIS SHOULD PROBABLY SEND A RANDOM NUMBER? with JS -->
            <input type="checkbox" id="force_refresh_pnid" name="force_refresh" value="1">
            <label for="force_refresh_pnid">{{T "label_force_refresh_pnid" }}</label>
            <br><span class="small">{{T "force_refresh_description" }}</span>
            <br><span>{{T "pretendo_network_description" }}
              <a target="_blank" href="https://pretendo.network/">pretendo.network</a>
            </span>
        </div>
        <div id="data-group">
            <input class="long-field" id="data" type="text" name="data"
                placeholder="{{T "data_placeholder" }}" minlength="100"
                maxlength="140" pattern="^(?=(.{4})*$)[A-Za-z0-9+\/]*={0,2}$" required
                value="AwBgMIJUICvpzY4vnWYVrXy7ikd01AAAWR1KAGEAcwBtAGkAbgBlAAAAAAAAABw3EhB7ASFuQxwNZMcYAAgegg0AMEGzW4JtAAAAAAAAAAAAAAAAAAAAAAAAAAAAAML0">
            <!-- I have read that b64(96 bytes) will be exactly
                128 bytes but we are allowing more headroom -->
            <span>{{T "mii_data_field_description" }}</span>
            <div style="font-size: 11px; line-height: 140%;"><b>NOTE as of July 8, PLEASE READ:</b> This is using a new renderer that does support <b>FFLiMiiDataCore, RFLCharData, nn::mii::CharInfo, and Mii Studio data/codes, all in hex or Base64.</b> However, I've rushed out this update, so it will pretend it only supports FFLStoreData for now. Sorry.<br>Please feel free to use the contact information at the bottom to ask me anything else. Thank you for using my site!</div>
            <div id="data-loaded" style="font-weight: bold; color: green; display: none;">{{T "qr_status_loaded" }}<span></span></div>
        </div>
        <!-- these errors are used for file and data thus is being placed here -->
        <div id="data-error-size-mismatch" style="font-weight: bold; color: red; display: none;">
            {{T "data_error_size_mismatch" }}<span></span></div>
        <div id="data-error-invalid-checksum" style="font-weight: bold; color: red; display: none;">
            {{T "data_error_invalid_checksum" }}</div>

        <div id="data-error-size-0" style="font-weight: bold; color: red; display: none;">{{T "data_error_size_0" }}</div>

        <div id="data-error-size-92" style="font-weight: bold; color: red; display: none;">
            {{T "data_ermiisImagePngRedirectHandlerror_size_92_part1" }}<br>{{T "data_error_size_92_part2" }}</div>

        <div id="data-error-size-88" style="font-weight: bold; color: red; display: block;">
            {{T "data_error_size_88_part1" }}<br>{{T "data_error_size_88_part2" }}<br>{{T "data_error_size_88_part3" }}<br>{{T "data_error_size_88_part4" }}<br><code>nn::mii::Database::Convert(CharInfo* pInfo,const Ver3StoreData&amp; ver3StoreData)</code></div>

        <div id="data-error-size-72" style="font-weight: bold; color: red; display: none;">
            {{T "data_error_size_72_part1" }}<br>{{T "data_error_size_72_part2" }}</div>

        <div id="data-error-size-74" style="font-weight: bold; color: red; display: none;">
            {{T "data_error_size_74_part1" }}<br>{{T "data_error_size_74_part2" }}</div>

        <!-- 76 is RFLStoreData but this is rarely used
        even in data transmission, seems to only be used
        in the Mii Channel database and MKW ghosts among others -->
        <!-- switch mii store data types:
        nn::mii::detail::CoreDataRaw - 48 bytes
          * size from method nn::mii::detail::CoreDataRaw::SetDefault
            - contains memset for 0x30 = size is 0x30/48
        nn::mii::detail::StoreDataRaw - 68 bytes, i think
          * size from method nn::mii::detail::StoreDataRaw::UpdateDeviceCrc -> nn::mii::detail::CalculateAndSetCrc16
            - sets total size to 0x44 = size is 0x44/68
        -->
        <label for="type">{{T "type_label" }}</label>
        <select name="type" id="type">
            <option value="face">{{T "option_face" }}</option>
            <option value="face_only">{{T "option_face_only" }}</option>
            <!--<option value="all_body">Body</option>-->
        </select><br>
        <label for="expression">{{T "expression_label" }}</label>
        <select name="expression" id="expression">
            <option value="normal">{{T "expression_normal" }}</option>
            <option value="smile">{{T "expression_smile" }}</option>
            <option value="anger">{{T "expression_anger" }}</option>
            <option value="sorrow">{{T "expression_sorrow" }}</option>
            <option value="surprise">{{T "expression_surprise" }}</option>
            <option value="blink">{{T "expression_blink" }}</option>
            <option value="normal_open_mouth">{{T "expression_normal_open_mouth" }}</option>
            <option value="smile_open_mouth">{{T "expression_smile_open_mouth" }}</option>
            <option value="anger_open_mouth">{{T "expression_anger_open_mouth" }}</option>
            <option value="surprise_open_mouth">{{T "expression_surprise_open_mouth" }}</option>
            <option value="sorrow_open_mouth">{{T "expression_sorrow_open_mouth" }}</option>
            <option value="blink_open_mouth">{{T "expression_blink_open_mouth" }}</option>
            <option value="wink_left">{{T "expression_wink_left" }}</option>
            <option value="wink_right">{{T "expression_wink_right" }}</option>
            <option value="wink_left_open_mouth">{{T "expression_wink_left_open_mouth" }}</option>
            <option value="wink_right_open_mouth">{{T "expression_wink_right_open_mouth" }}</option>
            <option value="like_wink_left">{{T "expression_like_wink_left" }}</option>
            <option value="like_wink_right">{{T "expression_like_wink_right" }}</option>
            <option value="frustrated">{{T "expression_frustrated" }}</option>
        </select><br>
        <label for="resolution-slider">{{T "resolution_slider_label" }}</label>
        <input id="resolution-slider" type="range" min="96" max="1080" step="2" value="270">
        <input class="short-number" name="width" id="width" type="number" step="2" value="270">
        <label for="width">px</label>
        <br>
        <label for="scale">{{T "scale_label" }}</label>
        <input type="checkbox" name="scale" id="scale" value="1">
        <div style="font-size: 10px; line-height: 150%;">{{T "scale_label_small" }}</div>
        <div>
            <label for="bgColor">{{T "background_color_label" }}</label>
            <input name="bgColor" id="bgColor" type="color" value="#ffffff">
            <label for="transparent-checkbox">{{T "transparent_checkbox_label" }}</label>
            <input id="transparent-checkbox" type="checkbox" checked>
        </div>

        <input id="submit" type="submit" data-value="{{T "submit_button_text" }}">
    </form>
    <hr>
    <h3>{{T "outputs_section_heading" }}</h3>
    <ul id="results" class="results">
        <li id="tutorial">
            <div style="color: plum">{{T "tutorial_message" }}</div>
        </li>
        <li class="load-error" style="display: none">
            {{T "load_error_message" }}
            <br>
        </li>
    </ul>
    <hr>
    <h3>{{T "samples_section_heading" }}</h3>
    <ul id="samples" class="results">
        <li>
            <img src="assets/jasmine-sample-270.png" alt="Jasmine">
            <div style="color: hotpink">{{T "our_output_description" }}</div>
            <img src="assets/jasmine-studio-270.png"
                not-src="https://studio.mii.nintendo.com/miis/image.png?data=000d142a303f434b717a7b84939ba6b2bbbec5cbc9d0dee6fd0109090f16746f757c77737e747c696b767d747b828d&type=face&expression=normal&width=270">
            <div style="color: peachpuff">{{T "studio_output_description" }}</div>
        </li>
    </ul>
    <script src="assets/script.js"></script>
    <!--<script src="https://cdn.jsdelivr.net/gh/criteo-forks/qr-scanner/qr-scanner.umd.min.js"></script>-->
    <!-- async because it's not needed to RENDER the page
    ... but will be needed laaateerrrr.... -->
    <script async src="assets/mii-qr-handler.js"></script>
    <!-- NOTE: mii-qr-handler actually does depend on qr-scanner AND sjcl both to work -->
    <script async src="assets/vendor-js/gh-criteo-forks-qr-scanner-qr-scanner.umd.min.js"></script>
    <!-- TODO: this sjcl (manually crafted) bundle could be smaller if it contained less deps -->
    <!-- NOTE: both jses took manually from jsdelivr -->
    <script async src="assets/vendor-js/sjcl-108-min-plus-codecBytes.js"></script>

    <!-- just a joke and should not inhibit loading
    of any other scripts ples -->
    <script>
    // funny pranke
    console.log('%cDO NOT PASTE ANYTHING HERE!!!!!!!!!!',
                        'color: red; font-size: 90px;');
    console.log('%cHowever, if you know JavaScript, you should go here: '
                        // links to an image of steve jobs
                        + location.protocol + '//' + location.host + '/jobs',
            'color: lightskyblue; font-size: 40px;');
    </script>

    <hr>
    <h2>{{T "beta_warning_title" }}</h2>
    <ul style="padding: 0; text-align: left">
        <li>{{T "beta_warning" }}</li>
        <li>{{T "unfinished_warning" }}</li>
        <li>{{T "github_prefix" }} <a href="https://github.com/ariankordi/nwf-mii-cemu-toy/tree/ffl-renderer-proto-integrate">ariankordi/nwf-mii-cemu-toy</a>, <a href="https://github.com/ariankordi/FFL-Testing/tree/renderer-server-prototype">ariankordi/FFL-Testing</a>
        <li>{{T "contact_info" }}</li>
    </ul>

    <form method="GET">
        <select id="language" name="locale.lang">
            <!-- Conditionally set selected based on {{T "html_lang" }} -->
            <option value="en-US" {{if eq (T "html_lang") "en-US" }}selected{{end}}>English (US)</option>
            <option value="en-GB" {{if eq (T "html_lang") "en-GB" }}selected{{end}}>English (UK)</option>
            <option value="es-419" {{if eq (T "html_lang") "es-419" }}selected{{end}}>Español (LATAM)</option>
            <option value="pt-BR" {{if eq (T "html_lang") "pt-BR" }}selected{{end}}>Português (Brasil)</option>
            <option value="fr-FR" {{if eq (T "html_lang") "fr-FR" }}selected{{end}}>Français</option>
            <option value="de-DE" {{if eq (T "html_lang") "de-DE" }}selected{{end}}>Deutsch</option>
            <option value="ja-JP" {{if eq (T "html_lang") "ja-JP" }}selected{{end}}>日本語 🥺</option>
            <!-- Add more languages as needed, following the same pattern -->
        </select>
        <input type="submit" value="{{T "change_language" }}">
    </form>

    <meta name="arianhandler-html-path" content="assets/warioland3/complicated.html">

    <!-- padding after language select form -->
    <br>

</body>
</html>
