{
    "swagger": "2.0",
    "info": {
        "description": "This API contains endpoints to fetch Mii data from NNID, CMOC, or Miitomo and an endpoint to render a Mii icon. As of writing, the repo for the renderer server is located here: https://github.com/ariankordi/FFL-Testing/tree/renderer-server-prototype and for the frontend/APIs itself is located here: https://github.com/ariankordi/nwf-mii-cemu-toy/tree/ffl-renderer-proto-integrate If you are lurking and found this, my email address is ariankordi@ariankordi.net",
        "title": "Mii Renderer (REAL) Frontend and API",
        "contact": {},
        "version": "1.0"
    },
    "host": "mii-unsecure.ariankordi.net",
    "basePath": "/",
    "paths": {
        "/cmoc_lookup/{cmoc_code}": {
            "get": {
                "description": "Looks up a CMOC entry number from the Check Mii Out Channel and returns its Mii data as 76 byte RFLStoreData/.rsd format. As of writing this code, it's retrieving from WiiLink: https://miicontest.wiilink.ca",
                "consumes": [
                    "application/json",
                    "application/octet-stream"
                ],
                "produces": [
                    "application/json",
                    "application/octet-stream"
                ],
                "tags": [
                    "Fetch Mii Data"
                ],
                "summary": "Lookup CMOC Entry",
                "parameters": [
                    {
                        "type": "string",
                        "format": "string, 1234-5678-9123",
                        "description": "CMOC Entry Number (we will descramble it)",
                        "name": "cmoc_code",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Base64 encoded RFLStoreData (76 bytes) or binary data if requesting with Accept: application/octet-stream",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/mii_data/{nnid}": {
            "get": {
                "description": "Retrieves Mii data from a Nintendo/Pretendo NNID or PID. Note that this uses a local archive database for NNID data.",
                "consumes": [
                    "application/json",
                    "application/octet-stream"
                ],
                "produces": [
                    "application/json",
                    "application/octet-stream"
                ],
                "tags": [
                    "Fetch Mii Data"
                ],
                "summary": "Lookup NNID",
                "parameters": [
                    {
                        "type": "string",
                        "description": "NNID/user ID. Also works as a query parameter that allows multiple comma separated values.",
                        "name": "nnid",
                        "in": "path"
                    },
                    {
                        "type": "integer",
                        "description": "PID. Can be used without nnid path parameter and allows multiple comma separated values.",
                        "name": "pid",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "API ID. Set to 1 to look up a Pretendo Network ID. This was originally intended for working with multiple NNID environments, which is why it's like this.",
                        "name": "api_id",
                        "in": "query"
                    },
                    {
                        "type": "boolean",
                        "description": "Force refresh. Bypasses cache when fetching.",
                        "name": "force_refresh",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "NNID data including Mii data, will return an array if multiple NNIDs are requested. Mii data is 96 byte FFLStoreData in Base64, but if you are requesting one NNID, it will be returned as binary if you request with Accept: application/octet-stream.",
                        "schema": {
                            "$ref": "#/definitions/main.ResponseData"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/miis/image.glb": {
            "get": {
                "description": "Renders a Mii image based on provided data, NNID, or PID. Also supports exporting a 3D model of the head to binary glTF (.glb).",
                "produces": [
                    "image/png",
                    "image/tga",
                    "model/gltf-binary"
                ],
                "tags": [
                    "Render"
                ],
                "summary": "Render Mii Icon",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Mii data in hex or Base64. Accepts many different types, but the data is detected based on its length.",
                        "name": "data",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "NNID/PNID (Set api_id for Pretendo)",
                        "name": "nnid",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "API ID (Set to 1 for Pretendo)",
                        "name": "api_id",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "PID (For NNID lookup)",
                        "name": "pid",
                        "in": "query"
                    },
                    {
                        "enum": [
                            "face",
                            "face_only",
                            "all_body",
                            "fflmakeicon",
                            "ffliconwithbody",
                            "variableiconbody",
                            "all_body_sugar"
                        ],
                        "type": "string",
                        "description": "View Type (Camera)",
                        "name": "type",
                        "in": "query"
                    },
                    {
                        "enum": [
                            "surprise",
                            "surprise_open_mouth",
                            "wink_left_open_mouth",
                            "like",
                            "anger_open_mouth",
                            "blink_open_mouth",
                            "anger",
                            "like_wink_left",
                            "happy",
                            "blink",
                            "smile",
                            "sorrow_open_mouth",
                            "wink_right",
                            "sorrow",
                            "normal",
                            "like_wink_right",
                            "wink_right_open_mouth",
                            "smile_open_mouth",
                            "frustrated",
                            "surprised",
                            "wink_left",
                            "open_mouth",
                            "puzzled",
                            "normal_open_mouth"
                        ],
                        "type": "string",
                        "description": "Expression - NOTE that for glTF export, this accepts multiple comma separated values.",
                        "name": "expression",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "Resolution",
                        "name": "width",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "Upscale Factor - Set to 1 for no upscaling",
                        "name": "scale",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "Mask/Faceline Texture Resolution",
                        "name": "texResolution",
                        "in": "query"
                    },
                    {
                        "type": "boolean",
                        "description": "Enable Mipmaps for Mask/Faceline",
                        "name": "mipmapEnable",
                        "in": "query"
                    },
                    {
                        "enum": [
                            "default",
                            "middle",
                            "high",
                            "very_high",
                            "low"
                        ],
                        "type": "string",
                        "description": "Resource Type",
                        "name": "resourceType",
                        "in": "query"
                    },
                    {
                        "enum": [
                            "wiiu",
                            "switch",
                            "miitomo",
                            "wiiu_blinn",
                            "ffliconwithbody"
                        ],
                        "type": "string",
                        "description": "Shader Type",
                        "name": "shaderType",
                        "in": "query"
                    },
                    {
                        "enum": [
                            "default",
                            "wiiu",
                            "switch",
                            "ffliconwithbody",
                            "3ds"
                        ],
                        "type": "string",
                        "description": "Body Type",
                        "name": "bodyType",
                        "in": "query"
                    },
                    {
                        "enum": [
                            "normal",
                            "hat",
                            "face_only"
                        ],
                        "type": "string",
                        "description": "Head Model Type",
                        "name": "modelType",
                        "in": "query"
                    },
                    {
                        "type": "boolean",
                        "description": "Flatten Nose (For helmets)",
                        "name": "flattenNose",
                        "in": "query"
                    },
                    {
                        "enum": [
                            "all",
                            "opa_only",
                            "xlu_only",
                            "mask_only",
                            "xlu_depth_mask",
                            "body_only",
                            "body_inv_depth_mask"
                        ],
                        "type": "string",
                        "description": "Draw Stage Mode",
                        "name": "drawStageMode",
                        "in": "query"
                    },
                    {
                        "enum": [
                            "default",
                            "red",
                            "orange",
                            "yellow",
                            "yellowgreen",
                            "green",
                            "blue",
                            "skyblue",
                            "pink",
                            "purple",
                            "brown",
                            "white",
                            "black"
                        ],
                        "type": "string",
                        "description": "Clothes/Shirt Color",
                        "name": "clothesColor",
                        "in": "query"
                    },
                    {
                        "enum": [
                            "default",
                            "gray",
                            "blue",
                            "red",
                            "gold",
                            "body",
                            "none"
                        ],
                        "type": "string",
                        "description": "Pants Color",
                        "name": "pantsColor",
                        "in": "query"
                    },
                    {
                        "enum": [
                            "none",
                            "front",
                            "back",
                            "both"
                        ],
                        "type": "string",
                        "description": "Split Depth Mode",
                        "name": "splitMode",
                        "in": "query"
                    },
                    {
                        "maximum": 360,
                        "minimum": 0,
                        "type": "integer",
                        "description": "Camera X Rotate",
                        "name": "cameraXRotate",
                        "in": "query"
                    },
                    {
                        "maximum": 360,
                        "minimum": 0,
                        "type": "integer",
                        "description": "Camera Y Rotate",
                        "name": "cameraYRotate",
                        "in": "query"
                    },
                    {
                        "maximum": 360,
                        "minimum": 0,
                        "type": "integer",
                        "description": "Camera Z Rotate",
                        "name": "cameraZRotate",
                        "in": "query"
                    },
                    {
                        "maximum": 360,
                        "minimum": 0,
                        "type": "integer",
                        "description": "Model X Rotate",
                        "name": "characterXRotate",
                        "in": "query"
                    },
                    {
                        "maximum": 360,
                        "minimum": 0,
                        "type": "integer",
                        "description": "Model Y Rotate",
                        "name": "characterYRotate",
                        "in": "query"
                    },
                    {
                        "maximum": 360,
                        "minimum": 0,
                        "type": "integer",
                        "description": "Model Z Rotate",
                        "name": "characterZRotate",
                        "in": "query"
                    },
                    {
                        "maximum": 360,
                        "minimum": 0,
                        "type": "integer",
                        "description": "Light Direction X",
                        "name": "lightXDirection",
                        "in": "query"
                    },
                    {
                        "maximum": 360,
                        "minimum": 0,
                        "type": "integer",
                        "description": "Light Direction Y",
                        "name": "lightYDirection",
                        "in": "query"
                    },
                    {
                        "maximum": 360,
                        "minimum": 0,
                        "type": "integer",
                        "description": "Light Direction Z",
                        "name": "lightZDirection",
                        "in": "query"
                    },
                    {
                        "maximum": 16,
                        "minimum": 1,
                        "type": "integer",
                        "description": "Instance Count (Rotation) - NOTE that, for the moment, the extra instances are stacked vertically.",
                        "name": "instanceCount",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "format": "string, 6 digit hex with hash/8 digit for RGBA",
                        "description": "Background Color",
                        "name": "bgColor",
                        "in": "query"
                    },
                    {
                        "type": "boolean",
                        "description": "Enable CharInfo Verification",
                        "name": "verifyCharInfo",
                        "in": "query"
                    },
                    {
                        "type": "boolean",
                        "description": "Verify CRC16 (If present)",
                        "name": "verifyCRC16",
                        "in": "query"
                    },
                    {
                        "type": "boolean",
                        "description": "Enable Lighting",
                        "name": "lightEnable",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Model rendered to png, tga, or binary glTF (.glb)",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "integer",
                                "format": "int32"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/miis/image.png": {
            "get": {
                "description": "Renders a Mii image based on provided data, NNID, or PID. Also supports exporting a 3D model of the head to binary glTF (.glb).",
                "produces": [
                    "image/png",
                    "image/tga",
                    "model/gltf-binary"
                ],
                "tags": [
                    "Render"
                ],
                "summary": "Render Mii Icon",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Mii data in hex or Base64. Accepts many different types, but the data is detected based on its length.",
                        "name": "data",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "NNID/PNID (Set api_id for Pretendo)",
                        "name": "nnid",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "API ID (Set to 1 for Pretendo)",
                        "name": "api_id",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "PID (For NNID lookup)",
                        "name": "pid",
                        "in": "query"
                    },
                    {
                        "enum": [
                            "face",
                            "face_only",
                            "all_body",
                            "fflmakeicon",
                            "ffliconwithbody",
                            "variableiconbody",
                            "all_body_sugar"
                        ],
                        "type": "string",
                        "description": "View Type (Camera)",
                        "name": "type",
                        "in": "query"
                    },
                    {
                        "enum": [
                            "surprise",
                            "surprise_open_mouth",
                            "wink_left_open_mouth",
                            "like",
                            "anger_open_mouth",
                            "blink_open_mouth",
                            "anger",
                            "like_wink_left",
                            "happy",
                            "blink",
                            "smile",
                            "sorrow_open_mouth",
                            "wink_right",
                            "sorrow",
                            "normal",
                            "like_wink_right",
                            "wink_right_open_mouth",
                            "smile_open_mouth",
                            "frustrated",
                            "surprised",
                            "wink_left",
                            "open_mouth",
                            "puzzled",
                            "normal_open_mouth"
                        ],
                        "type": "string",
                        "description": "Expression - NOTE that for glTF export, this accepts multiple comma separated values.",
                        "name": "expression",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "Resolution",
                        "name": "width",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "Upscale Factor - Set to 1 for no upscaling",
                        "name": "scale",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "Mask/Faceline Texture Resolution",
                        "name": "texResolution",
                        "in": "query"
                    },
                    {
                        "type": "boolean",
                        "description": "Enable Mipmaps for Mask/Faceline",
                        "name": "mipmapEnable",
                        "in": "query"
                    },
                    {
                        "enum": [
                            "default",
                            "middle",
                            "high",
                            "very_high",
                            "low"
                        ],
                        "type": "string",
                        "description": "Resource Type",
                        "name": "resourceType",
                        "in": "query"
                    },
                    {
                        "enum": [
                            "wiiu",
                            "switch",
                            "miitomo",
                            "wiiu_blinn",
                            "ffliconwithbody"
                        ],
                        "type": "string",
                        "description": "Shader Type",
                        "name": "shaderType",
                        "in": "query"
                    },
                    {
                        "enum": [
                            "default",
                            "wiiu",
                            "switch",
                            "ffliconwithbody",
                            "3ds"
                        ],
                        "type": "string",
                        "description": "Body Type",
                        "name": "bodyType",
                        "in": "query"
                    },
                    {
                        "enum": [
                            "normal",
                            "hat",
                            "face_only"
                        ],
                        "type": "string",
                        "description": "Head Model Type",
                        "name": "modelType",
                        "in": "query"
                    },
                    {
                        "type": "boolean",
                        "description": "Flatten Nose (For helmets)",
                        "name": "flattenNose",
                        "in": "query"
                    },
                    {
                        "enum": [
                            "all",
                            "opa_only",
                            "xlu_only",
                            "mask_only",
                            "xlu_depth_mask",
                            "body_only",
                            "body_inv_depth_mask"
                        ],
                        "type": "string",
                        "description": "Draw Stage Mode",
                        "name": "drawStageMode",
                        "in": "query"
                    },
                    {
                        "enum": [
                            "default",
                            "red",
                            "orange",
                            "yellow",
                            "yellowgreen",
                            "green",
                            "blue",
                            "skyblue",
                            "pink",
                            "purple",
                            "brown",
                            "white",
                            "black"
                        ],
                        "type": "string",
                        "description": "Clothes/Shirt Color",
                        "name": "clothesColor",
                        "in": "query"
                    },
                    {
                        "enum": [
                            "default",
                            "gray",
                            "blue",
                            "red",
                            "gold",
                            "body",
                            "none"
                        ],
                        "type": "string",
                        "description": "Pants Color",
                        "name": "pantsColor",
                        "in": "query"
                    },
                    {
                        "enum": [
                            "none",
                            "front",
                            "back",
                            "both"
                        ],
                        "type": "string",
                        "description": "Split Depth Mode",
                        "name": "splitMode",
                        "in": "query"
                    },
                    {
                        "maximum": 360,
                        "minimum": 0,
                        "type": "integer",
                        "description": "Camera X Rotate",
                        "name": "cameraXRotate",
                        "in": "query"
                    },
                    {
                        "maximum": 360,
                        "minimum": 0,
                        "type": "integer",
                        "description": "Camera Y Rotate",
                        "name": "cameraYRotate",
                        "in": "query"
                    },
                    {
                        "maximum": 360,
                        "minimum": 0,
                        "type": "integer",
                        "description": "Camera Z Rotate",
                        "name": "cameraZRotate",
                        "in": "query"
                    },
                    {
                        "maximum": 360,
                        "minimum": 0,
                        "type": "integer",
                        "description": "Model X Rotate",
                        "name": "characterXRotate",
                        "in": "query"
                    },
                    {
                        "maximum": 360,
                        "minimum": 0,
                        "type": "integer",
                        "description": "Model Y Rotate",
                        "name": "characterYRotate",
                        "in": "query"
                    },
                    {
                        "maximum": 360,
                        "minimum": 0,
                        "type": "integer",
                        "description": "Model Z Rotate",
                        "name": "characterZRotate",
                        "in": "query"
                    },
                    {
                        "maximum": 360,
                        "minimum": 0,
                        "type": "integer",
                        "description": "Light Direction X",
                        "name": "lightXDirection",
                        "in": "query"
                    },
                    {
                        "maximum": 360,
                        "minimum": 0,
                        "type": "integer",
                        "description": "Light Direction Y",
                        "name": "lightYDirection",
                        "in": "query"
                    },
                    {
                        "maximum": 360,
                        "minimum": 0,
                        "type": "integer",
                        "description": "Light Direction Z",
                        "name": "lightZDirection",
                        "in": "query"
                    },
                    {
                        "maximum": 16,
                        "minimum": 1,
                        "type": "integer",
                        "description": "Instance Count (Rotation) - NOTE that, for the moment, the extra instances are stacked vertically.",
                        "name": "instanceCount",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "format": "string, 6 digit hex with hash/8 digit for RGBA",
                        "description": "Background Color",
                        "name": "bgColor",
                        "in": "query"
                    },
                    {
                        "type": "boolean",
                        "description": "Enable CharInfo Verification",
                        "name": "verifyCharInfo",
                        "in": "query"
                    },
                    {
                        "type": "boolean",
                        "description": "Verify CRC16 (If present)",
                        "name": "verifyCRC16",
                        "in": "query"
                    },
                    {
                        "type": "boolean",
                        "description": "Enable Lighting",
                        "name": "lightEnable",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Model rendered to png, tga, or binary glTF (.glb)",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "integer",
                                "format": "int32"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/miis/image.tga": {
            "get": {
                "description": "Renders a Mii image based on provided data, NNID, or PID. Also supports exporting a 3D model of the head to binary glTF (.glb).",
                "produces": [
                    "image/png",
                    "image/tga",
                    "model/gltf-binary"
                ],
                "tags": [
                    "Render"
                ],
                "summary": "Render Mii Icon",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Mii data in hex or Base64. Accepts many different types, but the data is detected based on its length.",
                        "name": "data",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "NNID/PNID (Set api_id for Pretendo)",
                        "name": "nnid",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "API ID (Set to 1 for Pretendo)",
                        "name": "api_id",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "PID (For NNID lookup)",
                        "name": "pid",
                        "in": "query"
                    },
                    {
                        "enum": [
                            "face",
                            "face_only",
                            "all_body",
                            "fflmakeicon",
                            "ffliconwithbody",
                            "variableiconbody",
                            "all_body_sugar"
                        ],
                        "type": "string",
                        "description": "View Type (Camera)",
                        "name": "type",
                        "in": "query"
                    },
                    {
                        "enum": [
                            "surprise",
                            "surprise_open_mouth",
                            "wink_left_open_mouth",
                            "like",
                            "anger_open_mouth",
                            "blink_open_mouth",
                            "anger",
                            "like_wink_left",
                            "happy",
                            "blink",
                            "smile",
                            "sorrow_open_mouth",
                            "wink_right",
                            "sorrow",
                            "normal",
                            "like_wink_right",
                            "wink_right_open_mouth",
                            "smile_open_mouth",
                            "frustrated",
                            "surprised",
                            "wink_left",
                            "open_mouth",
                            "puzzled",
                            "normal_open_mouth"
                        ],
                        "type": "string",
                        "description": "Expression - NOTE that for glTF export, this accepts multiple comma separated values.",
                        "name": "expression",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "Resolution",
                        "name": "width",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "Upscale Factor - Set to 1 for no upscaling",
                        "name": "scale",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "Mask/Faceline Texture Resolution",
                        "name": "texResolution",
                        "in": "query"
                    },
                    {
                        "type": "boolean",
                        "description": "Enable Mipmaps for Mask/Faceline",
                        "name": "mipmapEnable",
                        "in": "query"
                    },
                    {
                        "enum": [
                            "default",
                            "middle",
                            "high",
                            "very_high",
                            "low"
                        ],
                        "type": "string",
                        "description": "Resource Type",
                        "name": "resourceType",
                        "in": "query"
                    },
                    {
                        "enum": [
                            "wiiu",
                            "switch",
                            "miitomo",
                            "wiiu_blinn",
                            "ffliconwithbody"
                        ],
                        "type": "string",
                        "description": "Shader Type",
                        "name": "shaderType",
                        "in": "query"
                    },
                    {
                        "enum": [
                            "default",
                            "wiiu",
                            "switch",
                            "ffliconwithbody",
                            "3ds"
                        ],
                        "type": "string",
                        "description": "Body Type",
                        "name": "bodyType",
                        "in": "query"
                    },
                    {
                        "enum": [
                            "normal",
                            "hat",
                            "face_only"
                        ],
                        "type": "string",
                        "description": "Head Model Type",
                        "name": "modelType",
                        "in": "query"
                    },
                    {
                        "type": "boolean",
                        "description": "Flatten Nose (For helmets)",
                        "name": "flattenNose",
                        "in": "query"
                    },
                    {
                        "enum": [
                            "all",
                            "opa_only",
                            "xlu_only",
                            "mask_only",
                            "xlu_depth_mask",
                            "body_only",
                            "body_inv_depth_mask"
                        ],
                        "type": "string",
                        "description": "Draw Stage Mode",
                        "name": "drawStageMode",
                        "in": "query"
                    },
                    {
                        "enum": [
                            "default",
                            "red",
                            "orange",
                            "yellow",
                            "yellowgreen",
                            "green",
                            "blue",
                            "skyblue",
                            "pink",
                            "purple",
                            "brown",
                            "white",
                            "black"
                        ],
                        "type": "string",
                        "description": "Clothes/Shirt Color",
                        "name": "clothesColor",
                        "in": "query"
                    },
                    {
                        "enum": [
                            "default",
                            "gray",
                            "blue",
                            "red",
                            "gold",
                            "body",
                            "none"
                        ],
                        "type": "string",
                        "description": "Pants Color",
                        "name": "pantsColor",
                        "in": "query"
                    },
                    {
                        "enum": [
                            "none",
                            "front",
                            "back",
                            "both"
                        ],
                        "type": "string",
                        "description": "Split Depth Mode",
                        "name": "splitMode",
                        "in": "query"
                    },
                    {
                        "maximum": 360,
                        "minimum": 0,
                        "type": "integer",
                        "description": "Camera X Rotate",
                        "name": "cameraXRotate",
                        "in": "query"
                    },
                    {
                        "maximum": 360,
                        "minimum": 0,
                        "type": "integer",
                        "description": "Camera Y Rotate",
                        "name": "cameraYRotate",
                        "in": "query"
                    },
                    {
                        "maximum": 360,
                        "minimum": 0,
                        "type": "integer",
                        "description": "Camera Z Rotate",
                        "name": "cameraZRotate",
                        "in": "query"
                    },
                    {
                        "maximum": 360,
                        "minimum": 0,
                        "type": "integer",
                        "description": "Model X Rotate",
                        "name": "characterXRotate",
                        "in": "query"
                    },
                    {
                        "maximum": 360,
                        "minimum": 0,
                        "type": "integer",
                        "description": "Model Y Rotate",
                        "name": "characterYRotate",
                        "in": "query"
                    },
                    {
                        "maximum": 360,
                        "minimum": 0,
                        "type": "integer",
                        "description": "Model Z Rotate",
                        "name": "characterZRotate",
                        "in": "query"
                    },
                    {
                        "maximum": 360,
                        "minimum": 0,
                        "type": "integer",
                        "description": "Light Direction X",
                        "name": "lightXDirection",
                        "in": "query"
                    },
                    {
                        "maximum": 360,
                        "minimum": 0,
                        "type": "integer",
                        "description": "Light Direction Y",
                        "name": "lightYDirection",
                        "in": "query"
                    },
                    {
                        "maximum": 360,
                        "minimum": 0,
                        "type": "integer",
                        "description": "Light Direction Z",
                        "name": "lightZDirection",
                        "in": "query"
                    },
                    {
                        "maximum": 16,
                        "minimum": 1,
                        "type": "integer",
                        "description": "Instance Count (Rotation) - NOTE that, for the moment, the extra instances are stacked vertically.",
                        "name": "instanceCount",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "format": "string, 6 digit hex with hash/8 digit for RGBA",
                        "description": "Background Color",
                        "name": "bgColor",
                        "in": "query"
                    },
                    {
                        "type": "boolean",
                        "description": "Enable CharInfo Verification",
                        "name": "verifyCharInfo",
                        "in": "query"
                    },
                    {
                        "type": "boolean",
                        "description": "Verify CRC16 (If present)",
                        "name": "verifyCRC16",
                        "in": "query"
                    },
                    {
                        "type": "boolean",
                        "description": "Enable Lighting",
                        "name": "lightEnable",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Model rendered to png, tga, or binary glTF (.glb)",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "integer",
                                "format": "int32"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/miitomo_get_player_data/{player_id}": {
            "get": {
                "description": "Get data (e.g. nn::mii::CoreData, Mii image...) from a player on Miitomo (Kaerutomo) by their player ID. As of writing, this is requesting the following API endpoint: ktp.kaeru.world/v1/player/get_player_data",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Fetch Mii Data"
                ],
                "summary": "Lookup Miitomo Player Data",
                "parameters": [
                    {
                        "type": "string",
                        "format": "string, 16-character hex",
                        "description": "Player ID. This is in your friend request invite link as the first 16 character hex string after friend_code/",
                        "name": "player_id",
                        "in": "path"
                    },
                    {
                        "type": "string",
                        "format": "string, 16-character hex",
                        "description": "Target player ID. Accepts multiple comma separated values. This works in substitute of the player ID path parameter.",
                        "name": "target_player_id",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Namespace. Accepts multiple comma separated values. Known values: own_mii, stock_mii, mii_face_image, account_info, stock_item, reported_content, corinth_status, star_account_info, _star_account_info, message_info",
                        "name": "namespace",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Player data returned from the upstream.",
                        "schema": {
                            "type": "object",
                            "additionalProperties": true
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "404": {
                        "description": "Player data not found",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error. Error with marshaling, obfuscating, or sending request.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "502": {
                        "description": "Bad Gateway",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "main.ResponseData": {
            "type": "object",
            "properties": {
                "data": {
                    "type": "string"
                },
                "error": {
                    "type": "string"
                },
                "images": {
                    "type": "object",
                    "properties": {
                        "last_modified": {
                            "description": "this is only a pointer so that omitempty will work",
                            "type": "string"
                        }
                    }
                },
                "name": {
                    "type": "string"
                },
                "pid": {
                    "type": "integer"
                },
                "studio_url_data": {
                    "type": "string"
                },
                "user_id": {
                    "type": "string"
                }
            }
        }
    }
}